@import '../../variables.module.scss';

.PokemonCard {
  border: 2px solid $border;
  width: 10em;
  height: 15em;
  margin: 1.5em;
  border-radius: .3em;

  .img-container {
    overflow: hidden;
    height: 70%;
    display: flex;
    justify-content: center;
    margin: 1em;
    img {
      display: block;
      flex-grow: 1;
    }
  }
  h3 {
    text-align: center;
  }
}