@import '../../variables.module.scss';

.layout {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 300px;
  margin: 0 auto;
  padding-top: 1em;
  height: 100%;
  h1 {
    font-size: 1.3rem;
    text-align: center;
  }
  
  .wrapper {
    height: 100%;
    border: 2px solid $border;
    border-radius: 1em;
    margin: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
  }
}