.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.AboutAbility {
  font-size: 1.3rem;

  b {
    display: inline-block;
    margin: .5em .5em 0 0;
  }

  .list-container {
    display: flex;
    flex-direction: column;

    b {
      align-self: flex-start;
    }

    div {
      align-self: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 15em;
      align-content: center;
      align-items: center;

      li {
        margin: .1em 1em;
      }
    }
  }
}