@import '../../variables.module.scss';

.Search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $border;
  padding-bottom: .3em;

  &>div {
    width: 100%;
    text-align: center;

    input {
      text-align: center;

    }
  }

}