@import './variables.module.scss';

:root {
  font-size: calc(0.5em + .7vw);
  background-color: $bgc;
  color: $text;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text
}

@import url("https://fonts.googleapis.com/css?family=Neucha:regular");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Neucha', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &>div {

    height: 100%;
  }

  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}